<ff-record-list unresolved class="row gridView list-container" subscribe="{{ subscribe|default("true") }}">
    <ff-record class="productData col-xs-12 col-sm-6 col-md-4 productBox">
        <form action="{{ oViewConf.getSelfActionLink()|escape }}" method="post">
            <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName()|escape }}" />
            <input type="hidden" name="fnc" value="tobasket" />
            <div class="card product-card">
                <div class="product-img-wrapper">
                    <a data-anchor="{{ '{{ record.Deeplink }}' }}" data-redirect="{{ '{{ record.Deeplink }}' }}" data-redirect-target="_self" title="{{ '{{ record.Name }}' }}">
                        <img width="350" height="220" data-image="{{ '{{ record.ImageName }}' }}" alt="{{ '{{ record.Name }}' }}" class="product-img" />
                    </a>
                </div>

                <div class="card-body">
                    <div class="h5 card-title text-center">
                        <a data-redirect="{{ '{{ record.Deeplink }}' }}" data-redirect-target="_self" data-anchor="{{ '{{ record.Deeplink }}' }}" title="{{ '{{ record.Name }}' }}">
                            <span>{{ '{{ record.Name }}' }}</span>
                        </a>
                    </div>

                    <div class="d-flex flex-column price">
                        <span class="lead text-nowrap">{{ '{{ record.Price }}' }} *</span>
                    </div>

                    <div class="listDetails text-center">
                        <div class="actions text-center">
                            <div class="btn-group">

                            {#    TODO Implement add to cart btn                    #}
{#                                <button type="submit" class="btn btn-default hasTooltip" data-placement="bottom"#}
{#                                        title="" data-container="body"#}
{#                                        data-original-title="{{ translate({ ident: "ADD_TO_CART" }) }}">#}
{#                                    <svg>#}
{#                                        <use xlink:href="#bag"></use>#}
{#                                    </svg>#}
{#                                </button>#}
                                <a class="btn btn-primary" data-redirect="{{ '{{ record.Deeplink }}' }}" data-redirect-target="_self" data-anchor="{{ '{{ record.Deeplink }}' }}">{{ translate({ ident: "MORE_INFO" }) }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ff-record>
</ff-record-list>


<script>
    document.addEventListener('ffReady', function (ff) {
        ff.eventAggregator.addBeforeDispatchingCallback(function (event) {
            if ((event.type === ('search' && !event.searchImmediate) || event.type === 'paging')) {
                const scrollCallback = scroll();
                event.success = factfinder.common.concatFunctions(event.success, scrollCallback);
            }
        });
    });
</script>
