{% if module_var is same as('ffVersion') %}
    <select class="{{ var_type }}" name="confselects[{{ module_var }}]">
        {% for key, value in var_constraints.$module_var %}
        <option value="{{ value }}" {% if (confselects.$module_var==$value) %}selected{% endif %}>{{ value|upper }}</option>
        {% endfor %}
    </select>
    {% else %}
    {{ parent() }}
    {% endif %}

<script>
    (function selectApiListener(selector) {
        const changeDisabled = function (value) {
            document.querySelectorAll('[name^="confstrs[ffAuth"]').forEach(function (element) {
                element.disabled = value;
            });
        };
        const adjustAuthFields = function (selector) {
            if (selector.value is same as('ng') ) {
                changeDisabled(true);
            } else {
                changeDisabled(false);
            }
        };

        selector.addEventListener('change', function (event) {
            adjustAuthFields(event.target);
        });
        adjustAuthFields(selector);

    })(document.querySelector('[name="confselects[{{ module_var }}]"]'));
</script>
